<!-- ////////////////////////////////////////////////// -->
<div class="owl-carousel owl-theme" data-aos="fade-up">

    <% for(i in asociados) {%>
  <!--CARD ASOCIADO-->
  <div class="card card-cascade narrower card-ecommerce">
      <!-- Card image -->
      <div class="view view-cascade overlay">
        <img
          src="<%= asociados[i].img_URL %>"
          class="card-img-top"
          alt="sample photo"
        />
        <a href="<%= asociados[i].web_link %>" target="_blank">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!-- Card image -->
      <!-- Card content -->
      <div class="card-body card-body-cascade text-center">
        <!-- Category & Title -->
        <a class="text-muted">
          <h5 class="text-muted-size"><i class="<%= asociados[i].icon_class_sector %>"></i> <%= asociados[i].sector %></h5>
        </a>
        <h4 class="card-title my-4 card-title-size">
          <strong>
            <a href="<%= asociados[i].web_link %>" target="_blank"><%= asociados[i].bussines_name %></a>
          </strong>
        </h4>
        <!-- Card footer -->
        <div class="card-footer px-1">
          <!--<span class="float-left">69$</span>-->
          <span class="float-center social-icons-color">
            <a 
              href="<%= asociados[i].facebook_link %>"
              target="_blank"
              class="" 
              data-toggle="tooltip" 
              data-placement="top" 
              title="">
              <i class="fab fa-facebook ml-3"></i>
            </a>
            <a
              href="<%= asociados[i].twitter_link %>"
              target="_blank"
              class=""
              data-toggle="tooltip"
              data-placement="top"
              title=""
            >
              <i class="fab fa-twitter ml-3"></i>
            </a>
            <a
              href="<%= asociados[i].instagram_link %>"
              target="_blank"
              class=""
              data-toggle="tooltip"
              data-placement="top"
              title=""
            >
              <i class="fab fa-instagram ml-3"></i>
            </a>
          </span>
        </div>
      </div>
      <!-- Card content -->
    </div>
    <!--CARD ASOCIADO-->
    <% } %>
</div>
<!-- ////////////////////////////////////////////////// -->
