<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- LINKS CDN's BOOTSTRAP - FONT AWSOME - MAIN.CSS -->
    <% include ../partials/head.ejs %>

    <title><%= title %></title>
  </head>
  <body>
    <span class="go-top fas fa-arrow-up"></span>
    <!-- PARTIAL: NAVBAR -->
    <div class="">
      <% include ../partials/es/navbar_alt.ejs %>
    </div>

    <!-- PARTIAL: HEADER -->
    <div class="">
      <% include ../partials/es/header_alt.ejs %>
    </div>

    <!-- CUERPO CODIGO: INIT -->

    <h2 class="h1-responsive font-weight-bold text-center my-5">
      Planes Turisticos
    </h2>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5">
      Encuentra aqui todos nuestros planes turisticos.
    </p>

    <div class="container">
      <% for(i in planes_turisticos) { %> 
        
        <% if( (i % 2) === 0 ) { %>

      <!-- Grid row -->
      <div class="row" data-aos="fade-up">
        <!-- Grid column -->
        <div class="col-lg-5">
          <!-- Featured image -->
          <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
            <img
              class="img-fluid"
              src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg"
              alt="Sample image"
            />
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-7">
          <!-- Category -->
          <a href="#!" class="green-text">
            <h6 class="font-weight-bold mb-3">
              <i class="fas fa-utensils pr-2"></i
              ><%=planes_turisticos[i].plan_category%>
            </h6>
          </a>
          <!-- Post title -->
          <h3 class="font-weight-bold mb-3">
            <strong id="plan_name"><%=planes_turisticos[i].plan_title%></strong>
          </h3>
          <!-- Excerpt -->
          <p>
            <%=planes_turisticos[i].plan_description%>
          </p>
          <!-- Read more button -->
          <button
            href=""
            class="btn btn1 btn-large btn-block"
            data-toggle="modal"
            data-target="#orangeModalSubscription"
            value="<%=planes_turisticos[i].plan_title%>"
            onclick="getPlanName(this)"
            >Solicitar</button
          >
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->

      <% } %> 
      
      <% if ( (i % 2) !== 0 ) { %>

      <!-- Grid row -->
      <div class="row" data-aos="fade-up">
        <!-- Grid column -->
        <div class="col-lg-7">
          <!-- Category -->
          <a href="#!" class="pink-text">
            <h6 class="font-weight-bold mb-3">
              <i class="fas fa-image pr-2"></i
              ><%=planes_turisticos[i].plan_category%>
            </h6>
          </a>
          <!-- Post title -->
          <h3 class="font-weight-bold mb-3">
            <strong id="plan_name"><%=planes_turisticos[i].plan_title%></strong>
          </h3>
          <!-- Excerpt -->
          <p>
            <%=planes_turisticos[i].plan_description%>
          </p>
          <!-- Read more button -->
          <button
            href=""
            class="btn btn1 btn-large btn-block"
            data-toggle="modal"
            data-target="#orangeModalSubscription"
            value="<%=planes_turisticos[i].plan_title%>"
            onclick="getPlanName(this)"
            >Solicitar</button>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-5 mt-5">
          <!-- Featured image -->
          <div class="view overlay rounded z-depth-2">
            <img
              class="img-fluid"
              src="https://mdbootstrap.com/img/Photos/Others/img%20(34).jpg"
              alt="Sample image"
            />
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->

      <% } %>

      <hr class="my-5" />

      <% } %>
    </div>

    <!-- ESTRUCTURA MODAL - INIT -->
    <div
      class="modal fade"
      id="orangeModalSubscription"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-notify modal-warning" role="document">
        <!--Content-->
        <div class="modal-content">
          <!--Header-->
          <div class="modal-header text-center">
            <h4 class="modal-title white-text w-100 font-weight-bold py-2">
              Subscribe
            </h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true" class="white-text">&times;</span>
            </button>
          </div>

          <!--Body-->
        <form id="plan_form">
          <div class="modal-body">
            <div class="md-form mb-5">
              <i class="fas fa-user prefix grey-text"></i>
              <input type="text" id="name_X" class="form-control validate" required />
              <label data-error="Error" data-success="Correcto!" for="name"
                >Nombre Completo</label
              >
            </div>

            <div class="md-form">
              <i class="fas fa-envelope prefix grey-text"></i>
              <input type="email" id="email_X" class="form-control validate"
              required />
              <label data-error="Error" data-success="Correcto!" for="email"
                >Correo Electronico</label
              >
            </div>
          </div>

          <!--Footer-->
          <div class="modal-footer justify-content-center icon-color">
            <button class="btn waves-effect" type="submit">
                Enviar Solicitud
            </button>
          </div>
        </form>
        
        </div>
        <!--/.Content-->
      </div>
    </div>

    <!-- ESTRUCTURA MODAL - END -->

    <!-- CUERPO CODIGO: END -->

    <!-- PARTIAL: FOOTER -->
    <div class="container-footer">
      <% include ../partials/es/footer.ejs %>
    </div>

    <!--ANIMATION LOADER-->
    <% include ../partials/loader.ejs %>

    <!--SCRIPTS BOOTSTRAP - JQUERY - ANIMATION LOADER-->
    <% include ../partials/scripts.ejs %>

    <!-- EMAIL TURISTIC PLAN REQUEST -->
    <script type="text/javascript" src="/js/planes_turisticos.js"></script>
  </body>
</html>
